<%- include('./partials/head') %>

<body>

    <section class="match-container">
<img src="/assets/time.svg" alt="Time">

<h1 id="timer"> <%- scoreData[scoreData.length - 1].speeltijd %> </h1>


<div>
    <h2> Team <%- scoreData[scoreData.length - 1].team1 %> </h2>
    <p> VS </p>
    <h2>Team <%- scoreData[scoreData.length - 1].team2 %></h2>

    
</div>

<div>

    <p> <%- scoreData[scoreData.length - 1].playersTeam1 %> </p>

    <p> <%- scoreData[scoreData.length - 1].playersTeam2 %> </p>

</div>

<div>
    <p id="score-team1"> <%- scoreData[scoreData.length - 1].scoreTeam1 %> </p>
    <p> - </p>
    <p id="score-team2"> <%- scoreData[scoreData.length - 1].scoreTeam2 %> </p>
</div>

<div>
  <button id="button-team1"><img  src="/assets/plusPoint.svg" alt="plus point"></button>
  <button id="button-team2"><img  src="/assets/plusPoint.svg" alt="plus point"></button>

</div>

<div>
    <button id="minus-button-team1"><img  src="/assets/minus.svg" alt="minus point"></button>
    <button id="minus-button-team2"><img  src="/assets/minus.svg" alt="minus point"></button>
</div>

</section>





<script src="/scripts/match.js" type="module"></script>
</body>

<%- include('./partials/foot') %>