<%- include('./partials/head') %>

<body>

    <section class="container">
    <a href="/" class="go-back">
        <img src="/assets/back-arrow.svg" alt="left-arrow">
    </a>



    <h1 class="header">Match results</h1>







    <div class="list-container">
       
        <% for(var i=0; i<scoreData.length; i++) {%>
       
        <ul class="matchResults">
           
            <li>Activity: <%= scoreData[i].activity %></li>
            <li>team1: <%= scoreData[i].team1 %></li>
            <li>playersTeam1: <%= scoreData[i].playersTeam1 %></li>
            <li>scoreTeam1: <%= scoreData[i].scoreTeam1 %></li>
            <li>team2: <%= scoreData[i].team2 %></li>
            <li>playersTeam2: <%= scoreData[i].playersTeam2 %></li>
            <li>scoreTeam2: <%= scoreData[i].scoreTeam2 %></li>
            <li>totalTime: <%= scoreData[i].speeltijd %> minutes</li>
            <li>Date: <%= scoreData[i].datum %></li>
        </ul>
   
        <% } %>
    </div>

</section>




</body>

<%- include('./partials/foot') %>