<%- include('./partials/head') %>

<body>

    <section class="container-test">
        <a href="/" class="go-back">
            <img src="/assets/back-arrow.svg" alt="left-arrow">
        </a>

        <div id="confettiBG">

         
            <h1 class="scoreTeam1">Team <%= scoreData[scoreData.length - 1].team1 %> won! <br> <%= scoreData[scoreData.length - 1].playersTeam1 %> </h1>
         

            <h1 class="scoreTeam2">Team <%= scoreData[scoreData.length - 1].team2 %> won! <br> <%= scoreData[scoreData.length - 1].playersTeam2 %></h1>
           
        </div>

        <button class="button">Share</button>
    </section>


</body>


<!-- <script src="/scripts/match.js"></script> -->
<script src="/scripts/testing.js"></script>

<%- include('./partials/foot') %>